* {
  margin: 0;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #282c34;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
}

legend, .content > div > label {
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 300;
  text-transform: uppercase;
}

input:not([type="radio"]), select, textarea {
  min-width: 300px;
  padding: 10px;
  border: 1px solid #282c3422;
  color: #282c34cc;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 125%;
}

button {
  min-width: 200px;
  padding: 10px;
}
